body{
    width: 100%;
    height: 100vh;
    margin: 0;
    /* vh: viewport height.
    It is a relative unit of measurement used to size elements based on the height of the viewport
    (the visible area of a web page).
        - 1vh equals 1% of the viewport's height.
        - 100vh equals the full height of the viewport.*/
    background-color: #34414E;  /* background color of the element*/
    color: #a68f79; /*  Color text and text decorations*/
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

label{
    display: block;
    margin: 0.5rem 0;
}

a{
    color: #79A5A5;
}

h1,p{
    text-align: center;
    margin: 1em auto;
}

form{
    margin: 0 auto;
    max-width: 550px;
    min-width: 350px;
    width: 65vw;
    padding-bottom: 2em;
}

fieldset{
    border: none;
    padding: 1.5rem 0;
    border-bottom: 2px solid #a68f79;
}

input, textarea, select{
    width: 100%;
    margin: 12px 0 0 0;
    min-height: 2em;
}

.inline_input{
    width: unset;
    margin: 0 1em 0 0;
    vertical-align: middle;
}
input, textarea{
    background-color: #79A5A5;
    color: #34414E;
    border: 2px solid #79A5A5;
}

/*TODO: explain the use of the : rather than ::*/
fieldset:last-of-type{
    border-bottom: none;
}

/*TODO: change the radio button color for any analogous in the used palette*/
input[name="submit_button"]{
    display: block;
    background-color: #A58F79;
    border: 2px solid #A58F79;
    width: 65%;
    min-width: 320px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
}

label[for="terms&conditions"]{
    text-align: center;
}

input[type="file"] {
    padding: 1px 2px;
}

input[name="account-type"]{
    color: #e5b400;
}