/*TO KNOW
@       CSS has a max function which returns the largest of a set of comma-separated values.
        For example:
                img { width: max(250px, 25vw); }
        In the above example, the width of the image will be 250px if the viewport width is less than 1000 pixels.
        If the viewport width is greater than 1000 pixels, the width of the image will be 25vw. This is because 25vw is
        equal to 25% of the viewport width.

@       The child combinator selector (>) in CSS targets only direct children of a specified parent element. This means
        it selects elements that are immediate descendants of another element, and not those nested deeper inside other
        elements.
*/

body {
        background: #6D501A;
        color: #F4FAFB;
        font-family: Brush Scrip, "serif";
        margin: 0;

}

#logo{
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        width: max(10rem, 16vw);
        padding: 0.2rem;
        aspect-ratio: 1.1/1;
        object-fit: contain;
        /*position: fixed;*/
}


h1{
        text-transform: uppercase;
        color: #0E4B2D;
        font-size: min(5vw,1.2em);

}

header{
        height: 70px;
        width: 100%;
        background-color: #F4FAFB;
        border-bottom: #1A376D solid 0.5rem;
        display: flex;
/*        position: fixed;      TODO: make a floating header or a fixed overflow scroll questionary for preserve
                                      a visible header all the time no matter what's the screen size
        top: 0;*/
}

nav {
        width: 50%;
        max-width: 300px;
        height: 70px;
}

nav > ul{
        display: flex;
        justify-content: space-evenly;
}

h1,h2{
        font-family: "Verdana", sans-serif;
}

h2{
        border-bottom: 4px solid #EBD5AD;
}

.screenReader-only {
        /* Elements that are relatively positioned remain in the normal flow of the document. In contrast, an element
        that is absolutely positioned is taken out of the flow; thus, other elements are positioned as if it did not
        exist. The absolutely positioned element is positioned relative to its nearest positioned ancestor (i.e., the
        nearest ancestor that is not static). If a positioned ancestor doesn't exist, it is positioned relative to the
         ICB (initial containing block)*/
        position: absolute;     /*This was used for set the text out of the content and positioned it */
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;

        /*The overflow CSS shorthand property sets the desired behavior when content does not fit in the element's
        padding box (overflows) in the horizontal and/or vertical direction.*/
        overflow: hidden;

        /*The clip CSS property defines a visible portion of an element.*/
        clip: rect(0,0,0,0); /* The clip property applies only to absolutely positioned elements — that is,
                                   elements with position:absolute   or position:fixed*/

        /*The white-space CSS property sets how white space inside an element is handled.*/
        white-space: nowrap;
        border: 0;
}


