h1{
    text-align: center;
}

.crayons{
    width: 300px;
    height: 30px;
    /* background-color: red; */
    margin: 12px auto;  /* the margin property is a shorthand way to set margin-top, margin-bottom,
                            margin-left, and margin-right at the same time. It has two values:
                            the first one is associate to top and bottom, the second to left and right; */
    width: 300px;
    height: 30px;
}

.one{
    background: linear-gradient(hsl(59,115%,35%), hsl(69,200%,150%), hsl(79,15%,45%));
    box-shadow: 0 0 20px 0 rgba(84, 84, 0, 0.8); /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
}

.two{
    background: linear-gradient(180deg,rgb(64,27,100) , rgb(150,23,245), rgb(40,45,89));
    /* The color stops after each color parameter in the linear-gradient property of background sometimes isn't necesary
    because the funtion liner-gradient automatically calculates these values for you, and places colors evenly along the 
    gradient line by default
    Is unnecesary to put 180deg of gradient direction. This parameter could be omitted if the direction angle is 180*/
    box-shadow: 0 0 20px 0 rgba(84, 0, 84, 0.8);
}

.three{
    background: linear-gradient(180deg,#007575 0%,hsl(75,100%,75%) 50%, green 100%);    /* For the use of the linear-gradient is important to change the property background-color
                                        for background, because the linear-gradient is readed by the PC like a photo.
                                        Basic syntax: linear-gradient(gradientDirection, color1, color2, ...); 
                                        --The values in px or % after a color represent the length that follow a color in 
                                            the linear-gradient function and they are named Color-stops*/  
    box-shadow: 0 0 20px 0 rgba(150, 50, 0, 0.8);
}

.container{
    background-color: hsl(25, 75%, 75%);
    padding: 11px 0;    /* It has two values: the first one is associate to top 
                            and bottom, the second to left and right */
}

.sleeve{
    width: 180px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5); /* rgba(redValue, greenValue, blueValue, alphaValue); */
/*     border-left-color: #007575;
    border-left-width: 10px;
    border-left-style: solid; */    
    /* The next code line is a shorthand property that cover the three before in one */
    border-left: 10px double rgba(0, 0, 0, 0.75);  /* border-left: width style color; */
}

.space_before_sleeve{
    width: 80px;
    height: 30px;
}

.sleeve, .space_before_sleeve{
    display: inline-block;
}

/* box-shadow: offsetX offsetY color;
 */