h1{
    text-transform: capitalize;
    
    }
h1,h2,p{text-align: center;
        color: #e5b400;}
body{
    /* background-color:rgb(21, 112, 21) */
    background-image: url(https://github.com/achf16/Learning-Responsive-Web-Design/blob/dev/02_CSS%20Building%20a%20Menu/media/background1950x2600.jpg?raw=true);
    background-size:cover; 
    background-position-y: -115px;
    padding: 20px; 
}

.menu {
    width: 50%;
    background-color: rgba(0, 77, 45, 1);
    /* position: absolute; */
    /* top: 0;
    right: 0;
    bottom: 0;
    margin: 0; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%; /* Ensures the div grows with content */
    padding: 20px;  
    flex-direction:column;
    align-items: center; /* Center horizontally */
    justify-content: start; /* Center vertically */
}

#logo {
    display: block; /* Ensure the image is a block-level element */
    margin: 0 auto; /* Center the image horizontally */
    /* margin-top: 20px; */ /* Add some space from the top if needed */
   /*  border: 1px solid #333; */ /* Solo para visualizar el div hijo */
   margin-top: 10px;
}

.articles_items p{
                    display: inline-block;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    /* There are 5 fallback here: fonts listed with single quotes ('') are treated as exact names, 
                    which is necessary when the font name contains spaces or special characters */
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
.product{
    text-align: left;
    width: 50%;
}
.price{
    text-align: right;
    width: 50%;
}

.italicized{
    font-style: italic;
}

h1  {
    font-size: 40px;
}

h2{
    font-size: 30px;
}

.footer a{
    color: #5dc226;
}

hr{
    height: 3px;
    background-color:#5dc226;
    border-color:#5dc226;
}