h1{text-transform: capitalize;}
h1,h2,p{text-align: center;}
body{
    /* background-color:rgb(21, 112, 21) */
    background-image: url(https://github.com/achf16/Learning-Responsive-Web-Design/blob/dev/02_CSS%20Building%20a%20Menu/media/background.jpg?raw=true);
}

.menu {
    width: 30%;
    background-color: rgba(0, 77, 45, 1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0; /* This eliminate the padding, if it is necessary */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: start; /* Center vertically */
}

#logo {
    display: block; /* Ensure the image is a block-level element */
    margin: 0 auto; /* Center the image horizontally */
    /* margin-top: 20px; */ /* Add some space from the top if needed */
    border: 1px solid #333; /* Solo para visualizar el div hijo */
}


    