*{
    box-sizing: border-box;
    border: 1px solid green;
}

html{
    background-color: #454F4F;
    color: #F1F3FE;
    display: block;
}

code{
    white-space: pre-wrap;
}

.purple{
    color: #BCA4FD;
}

.rose{
    color: #FF97A0;
}

.green{
    color: #5dc226;
}

.makeup{
    background-color: #172226;
}

header a{
    color: inherit;
    text-decoration: none;
}

header{
    width: 30vw;
    height: 100%;
}

main{
    width: 60vw;
}

/*
.left-menu{
    position: fixed;

}*/
