.canvas{
    background-color: coral;
    width: 350px;
    height: 550px;
    overflow: hidden;   /* overflow: hidden;: Any overflow content That exceeds the element's defined area is clipped,
                            preventing scrollbars from appearing.*/
    filter: blur(2px);  /*The filter property in CSS allows you to apply graphical effects like blurring, sharpening,
                           or changing the color of elements (such as images or backgrounds). It can be used to adjust
                           the appearance of an element without altering the underlying content.*/
}

.frame{
    width: 350px;
    border: 55px solid black;
    padding: 55px;
    margin: 55px auto;
}

.first{
    background-color: #FFD54C;
    height: 150px;
    width: 300px;
    margin: 25px auto;  /*If I set this margin without put a boundary in .canvas like the border, then this margin will
                          add more padding between .canvas and .frame. This happens because the margin of .one pushes
                          outwards, affecting the layout of parent containers. To resolve this, you should add a
                          solid boundary(margin) to .canvas where .first's margin will to push off of but, doing this the
                           final height and width of the .canvas will be CanvasSize + 2*MarginWidth, and that isn't what we
                           want. There's an other way, is using the overflow attribute.The overflow CSS property controls
                           what happens to content that is too large to fit into an element's box. */
    box-shadow: 0 0  5px 5px #FFD54C;
    border-radius: 15px;
    transform: rotate(-0.5deg); /*The transform CSS property allows you to modify the coordinate space of an element,
                                  enabling various effects such as rotating, scaling, translating, or skewing elements. */
}

.second{
    width: 325px;
    height: 190px;
    margin: 0 auto 25px auto;
    background-color: #CFFF4C;
    box-shadow: 0 0 5px 5px #CFFF4C;
    border-radius: 50px 25px;
    transform: rotate(0.4deg);
}

.third{
    width: 91%;
    height: 22%;
    margin: 0 auto;
    background-color: #99D100;
    filter: blur(5px);
    box-shadow: 0 0  5px 5px #99D100;
    border-radius: 15px 25px 35px 45px;
    transform: rotate(0.3deg);
}

.one, .two{
    filter: blur(8px);
}